:root {
    --black: #000;
    --dark-grey-1: #333;
    --dark-grey-2: #737373;
    --grey: #ccc;
    --white: #fff;
    --steel-grey: #4D778C;
}

html {
    display: inline-flex;
    padding-bottom: 26px;
    flex-direction: column;
    align-items: center;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eee;
}

p {
    margin: 0;
}

body {
    width: 390px;
    background-color: #FFF;
}

h1 {
    text-transform: uppercase;
    color: var(--white);
    font-size: 2rem;
    font-family: Teko, Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

h2 {
    font-weight: 800;
    font-size: 1rem;
}

#header {
    background: var(--dark-grey-1, #333);
    display: flex;
    height: 61px;
    padding: 11px 16px;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}

.image-container {
    height: 190px;
    background-color: #4D778C;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

#stats {
    border-top: 1px solid var(--white, #FFF);
    background: var(--dark-grey-1, #333);
    display: flex;
    height: 84px;
    padding: 12px 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
    position: relative;
}

.stat-label {
    color: var(--white);
    text-align: center;
    font-weight: 800;
    line-height: normal;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    letter-spacing: 1px;
}

.value-tile {   
}

.value {
    font-size: 1rem;
    font-weight: 900;
    line-height: normal;
    color: var(--black, #000);
    position: absolute;
    margin: auto;    
    text-align: center;
    margin-top: 6px;
    width: 36px;
    height: 36px;
}

.section-label {
    display: flex;
    height: 50px;
    padding: 0px 22px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--steel-grey);
    color: var(--white);
    border-top: 1px solid var(--white);
}

.icon-wrapper {
    position: relative;
}

.icon-wrapper.chevron {
    transform: rotate(0deg);
    margin-bottom: 4px;
}

.icon-wrapper.chevron.active {
    transform: rotate(180deg);
    margin-top: 8px;
}

.icon-inner-value {
    position: absolute;
    color: var(--steel-grey, #4D778C);
    font-weight: 700;
    top: 16%;
    left: 25%;
}

.weapon-stat-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    text-transform: uppercase;
    background-color: var(--grey);
    padding: 0 28px;
    height: 42px;
}

.weapon-stat-labels p {
    color: var(--black, #000);
}

.profiles {
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 15px;
}

.weapon-profile, .item-profile, .rule-profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rule-profile {
    gap: 5px;
}

.weapon-name, .item-name, .rule-name {
    display: flex;
    height: 45px;
    padding: 0 12px;
    align-items: center;
    border-radius: 5px;
    background: var(--dark-grey-1, #333);
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.9rem;;
}

.weapon-stats {
    display: flex;
    padding: 0px 28px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.keyword-group {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.keyword {
    padding: 2px 12px 4px 12px;
    align-items: center;
    border-radius: 5px;
    border: 1px dashed var(--black, #000);
    font-weight: 700;
    font-size: 0.9rem;
}

.keyword.grey {
    border: 1px dashed var(--dark-grey-2);
}

.keyword.black {
    border: 1px dashed var(--dark-grey-2);
    background-color: var(--black);
    color: var(--white);
}

.lore-wrapper {
    display: flex;
    padding: 10px 28px;
    flex-direction: column;
}

.icon-and-lore {
    display: flex;
    align-items: center;
    gap: 6px;
}

.lore {
    display: flex;
    height: 32px;
    padding: 4px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid var(--Black, #000);
}

.accordion {
    cursor: pointer;
}

.accordion-wrapper {
    position: relative;
    height: 50px;
    overflow: hidden;
    transition: all linear 1s;
}

.accordion-wrapper.active {
    overflow: visible;
    height: auto;    
}

.rule-text {
    color: var(--dark-grey-2);
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.rule-text.first {
    padding-bottom: 1rem;
}

.rule-eyebrow-heading {
    font-size: 0.9rem;
    color: var(--dark-grey-2);
}

.dotted-divider {
    border-top: 1px dashed var(--dark-grey-2);
    width: 100%;
}

